<div class="author">
  <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">
  <div class="article-grid">
    <% data.forEach(post => { %>
      <div class="article-card">
        <a href="/post/<%= post._id %>">
          <% if (post.image) { %>
            <img src="<%= post.image %>" alt="<%= post.title %>" class="article-image" />
          <% } %>
          <h3 class="article-title"><%= post.title %></h3>
          <p class="article-date"><%= post.createdAt.toDateString() %></p>
        </a>
      </div>
    <% }) %>
  </div>
</section>
